# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.packages
/build/
**/doc/api/
coverage/
*.lcov

# iOS
ios/Pods/
ios/.symlinks/
**/ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner/GeneratedPluginRegistrant.swift

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release

# Linux & Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Crash / Symbol files
app.*.symbols
app.*.map.json
*.crash

# Web
web/.dart_tool/

# # Node modules
node_modules

# Environment variables
.env